In [124]:
import numpy as np
import pandas as pd
import plotnine as p9

ModuleNotFoundError: No module named 'plotnine'

Combining DataFrames with Pandas
====

In [30]:
surveys = pd.read_csv("surveys.csv", keep_default_na=False, na_values=[""])
species = pd.read_csv("species.csv", keep_default_na=False, na_values=[""])

In [143]:
# print(species.columns)
# print(surveys.columns)
merged_data = pd.merge(left=surveys, right=species, left_on='species_id', right_on='species_id')
taxa_by_plot = merged_data.groupby(['plot_id', 'taxa'])['taxa'].count().reset_index(name='counts')
print(taxa_by_plot)
(p9.ggplot(data=taxa_by_plot,
         mapping=p9.aes(x='plot_id',
                        y='counts',
                        color='taxa'))
    + p9.geom_line()
)

     plot_id                 taxa  counts
0          1                 Bird      11
1          1               Rabbit       2
2          1               Rodent    1903
3          1  Rodent-not censused      19
4          2                 Bird      17
5          2               Rabbit       3
6          2              Reptile       1
7          2               Rodent    1955
8          2  Rodent-not censused      14
9          3                 Bird      17
10         3               Rabbit       5
11         3               Rodent    1670
12         3  Rodent-not censused      19
13         4                 Bird       5
14         4               Rodent    1925
15         4  Rodent-not censused      24
16         5                 Bird       5
17         5               Rabbit       1
18         5               Rodent    1101
19         5  Rodent-not censused      15
20         6                 Bird      20
21         6              Reptile       1
22         6               Rodent    1503
23         6  Rodent-not censused      21
24         7                 Bird      28
25         7              Reptile       1
26         7               Rodent     661
27         7  Rodent-not censused      27
28         8                 Bird      10
29         8               Rabbit       1
..       ...                  ...     ...
74        18               Rabbit       1
75        18               Rodent    1344
76        18  Rodent-not censused      20
77        19                 Bird      14
78        19               Rabbit       8
79        19              Reptile       1
80        19               Rodent    1114
81        19  Rodent-not censused      11
82        20                 Bird      51
83        20              Reptile       2
84        20               Rodent    1145
85        20  Rodent-not censused      42
86        21                 Bird      13
87        21               Rabbit       1
88        21              Reptile       1
89        21               Rodent    1072
90        21  Rodent-not censused      30
91        22                 Bird      16
92        22               Rabbit       2
93        22              Reptile       1
94        22               Rodent    1341
95        22  Rodent-not censused       9
96        23                 Bird      41
97        23               Rabbit       8
98        23               Rodent     382
99        23  Rodent-not censused      23
100       24                 Bird      17
101       24               Rabbit       2
102       24               Rodent     885
103       24  Rodent-not censused      22

[104 rows x 3 columns]

NameError: name 'p9' is not defined


Data Workflows and Automation
====
Challenge 1
----

1) What happens if we donâ€™t include the `pass` statement?
    
    If we don't include the `pass` statement, then the code will fail with a `IndentationError`.

In [3]:
for i in range(10):
    
print(adsf)

IndentationError: expected an indented block (<ipython-input-3-ea80fc63b868>, line 3)

In [22]:
animals = ['lion', 'tiger', 'crocodile', 'vulture', 'hippo']
print(",".join(animals))

lion,tiger,crocodile,vulture,hippo